@tailwind base;
@tailwind components;
@tailwind utilities;

/* Allow browser theming */
:root {
    color-scheme: light dark;
}

/* Custom scrollbar (Chrome / Edge) */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 8px;
    border: 2px solid #000;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #e11d48;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #444 #000;
}
